*{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-weight: 900S;
}
body{
    background-image: url(bg.avif);
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar{height: 60px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color: black;
}
.title{
    color: green;
    font-size: 60px;
    margin: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}
.indexpara{
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 50px;
    
}
.navbar a{
    color: azure;
    font-weight: 900 ;
    background-image: none;
    background-color: black;
    text-decoration: none;

}

form{
    text-align: center;
    font-weight: 900;
}
.submit{
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    background-color: black;
}
table{

    padding: 10px;
    display: flex;
    justify-content: center;
}
th{

    background-color: rgb(255, 255, 255,0.7);
    padding: 20px;
    border: 2px solid white;
    column-span: 2;
}
td{
    text-align: center;
    height: 300px;
    width: 300px;
    background-color: rgb(255, 255, 255,0.8);

    border: 2px solid white;
}
footer{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.payment{
    text-align: center;
}
h4{
    color: aqua;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}
.img{
    height: 250px;
}
.cart td{
    
    height: 60px;
}